.blog-center {
    width: 90%;
    margin: 0 auto;
}

.blogs {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 37rem 37rem 37rem;
    grid-gap: 20rem;
    margin: 5rem 0 10rem 0;

    @include respond(tab-portrait) {
        grid-template-columns: 45% 45%;
        grid-template-rows: 32rem 32rem 32rem;
        grid-gap: 15rem;
    }

    @media only screen and (max-width: 40.62em) {
        grid-template-rows: 30rem 30rem 30rem;
    }

    @include respond(phone) {
        grid-template-columns: 49% 49%;
        grid-gap: 4.5rem;
        grid-template-rows: 28rem 28rem 28rem;
    }

    @media only screen and (max-width: 28.75em) {
        grid-template-rows: 25rem 25rem 25rem;
    }

    @include respond(small-phone) {
        grid-template-rows: 18rem 18rem 18rem;
        grid-gap: 3.5rem;
    }
}