.loader-wrapper {
    height: 100vh;
    width: 100vw;
    background-color: $color-primary-dark;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
    z-index: 2000;

    &__loader {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__text {
        color: #fff;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 300;
        animation: textAnimation 2s infinite;
    }
}

@keyframes textAnimation {
    0% {
        color: #fff;
    }

    50% {
        color: $color-grey-dark-1;
    }

    100% {
        color: #fff;
    }
}